/* # for ID
    . for class */

html {
  --quickadd-text:#434d5f !important;
  --special: #dadeae !important;
  --quickadd: #c04f40 !important;
  --quickadd-feature: #bf3b2a !important;
  --quickadd-success: #b1dcbf !important;
  --quickadd-success-text: #03561f !important;
  --quickadd-placeholder: #e2c0bc !important;
  --background-feature: #e5e7ea !important;
};

#main {
    width: 400px;
    height: 500px;
};

#ffht {
    font-family: 'Times New Roman', Times, serif;
    font-size: 300px;
    color: yellowgreen;
    size: 300px;
};

#quickadd {
    background-color:var(--quickadd);
    margin:20px;
    width:250px;
    height:30px;
    z-index:10;
    position:absolute;
    bottom:0;
    right:0;
    border:0;
    border-radius:7px;
    padding:3px 1px 3px 10px;
    box-shadow:1px 1px 3px var(--background-feature);
    font-size:14px;
    transition-property:color,background-color;
    transition-duration:200ms;
    transition-timing-function:ease-in-out;
    color:var(--quickadd-text)
};

#quickadd::placeholder {
    color:var(--quickadd-placeholder)
};

#quickadd.dragover::placeholder {
    color:var(--quickadd-success-text)!important
};

#quickadd:hover {
    background-color:var(--quickadd-feature)
};

#quickadd:focus {
    background-color:var(--quickadd-feature)
};

#quickadd:active {
    background-color:var(--quickadd-feature)
};